.one-sinter-table-div {
    display: flex;
    height: 300px;
    align-items: center;
    .one-sinter-table {
        width: 349px;
        height: 200px;
        border: 1px solid #333;

        .one-sinter-tr-one {
            background: #e5e5e5;
        }

        td {
            // width: 33.3%;
            border: 1px solid #cbcbcb;
            text-align: center; 
            .text-ipnut {
                border: none;
                display: inline-block;
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.children-two-echarts {
    width: 349px;
    height: 400px;
    position: relative;
    .echarts-icon{
        position: absolute;
        top: 5px;
        right: 30px;
      
    }
}
.children-two-echarts-select{

    label{
        margin-right: 5px;
        &:nth-child(2){
            margin-left: 5px;
        }
    }
}
