.home-head-top {
    width: 100vw;
    height: 110px;
    background-image: url('../../img/topbg.png');
    .home-head-top-center {
        width: 1200px;
        height: 60px;
        margin: auto;
        .home-head-top-center-right{
            float: right;
            height: 60px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #ffffff;
            .home-head-top-center-right-people {
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
            .shugang{
                margin: 0 10px;
            }
            .year {
                margin-right: 20px;
            }
        }
    }
    .home-head-top-modules-name {
        height: 50px;
        width: 100%;
        background-color: #e0f0ff;
        .home-head-top-modules-name-center {
            width: 1200px;
            margin: auto;
            display: flex;
            align-items: center;
            color: #15428b;
            font-size: 18px;
            line-height: 50px;
            font-family: 'Courier New';
            img {
                margin-right: 10px;
            }
        }
    }
}

/* *{
    margin:0;
    padding:0;
}
.headerhead{
    background: url("../../img/topbg.png");
    background-size: 30px 60px;
}
a{
text-decoration: none;
}
ul li {
    list-style: none;
}

.toubu>img{
    height: 64px;
}
.center,.shugang,.year,.time{
    color: #fff;
    font-size: 14px;
}
.time{
    margin-left: 1.25rem;

}
.shugang{
    margin-left: .625rem;
    margin-right: .625rem;
}
.center>img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.search{
    background: #e0f0ff;
}
.search-one{
    width: 1200px;
    height: 50px;
    margin: auto;
}
.search-one>img{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.search-one>.ku{
    color: #15428b;
    font-size: 18px;
    line-height: 50px;
    font-family: 'Courier New';

}
.search-two{
    float: right;
    height: 3.125rem;
    line-height: 3.125rem;
}
.search-search{
    background: url("../../img//btn_normal.png");
    background-size: 59px 32px;
}
.centers{
    background: #fff;
    padding-left:100px;
    padding-top:50px;
}
.btns{
    margin-top: 90px;
    margin-left: -60px;
} */