.home-head-top {
    width:100vw;
    height: 110px;
    background-image: url('../../img/topbg.png');
    .home-head-top-center {
        width: 1200px;
        height: 60px;
        margin: auto;
        .home-head-top-center-right{
            float: right;
            height: 60px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #ffffff;
            .home-head-top-center-right-people {
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
            .shugang{
                margin: 0 10px;
            }
            .year {
                margin-right: 20px;
            }
        }
    }
    .home-head-top-modules-name {
        height: 50px;
        width: 100%;
        background-color: #e0f0ff;
        .home-head-top-modules-name-center {
            width: 1200px;
            margin: auto;
            display: flex;
            align-items: center;
            color: #15428b;
            font-size: 18px;
            line-height: 50px;
            font-family: 'Courier New';
            img {
                margin-right: 10px;
            }
        }
    }
}