*{
    margin:0;
    padding:0;
}
.headerhead{
    background: url("../../img/topbg.png");
    background-size: 30px 60px;
}
a{
text-decoration: none;
}
ul li {
    list-style: none;
}
.toubu{
    background-size: 15.625rem;
    height: 3.75rem;
    line-height: 3.70rem;
    width: 75rem;
    margin: auto;
}
.toubu>img{
    height: 64px;
}
.center,.shugang,.year,.time{
    color: #fff;
    font-size: .875rem;
}
.time{
    margin-left: 1.25rem;

}
.shugang{
    margin-left: .625rem;
    margin-right: .625rem;
}
.center>img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.search{
    background: #e0f0ff;
}
.search-one{
    width: 1200px;
    height: 50px;
    margin: auto;
}
.search-one>img{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.search-one>.ku{
    color: #15428b;
    font-size: 18px;
    line-height: 50px;
    font-family: 'Courier New';

}
.search-two{
    float: right;
    height: 3.125rem;
    line-height: 3.125rem;
}
.search-search{
    background: url("../../img//btn_normal.png");
    background-size: 59px 32px;
}
.centers{
    background: #fff;
    padding-left:100px;
    padding-top:50px;
}
.btns{
    margin-top: 90px;
    margin-left: -60px;
}