.const-analysis-body{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #7596c1;
    padding: 10px;
    margin-bottom: 10px;
}
.const-analysis-body-header {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    text-align: right;
    padding-top: 5px;
}