.heads{
    height: 60px;
    background: url("../../img/topbg.png");
}
.heads-one{
    width: 1200px;
    margin: auto;
}
.heads-one>span{
    float: right;
    line-height: 60px;
    font-size: 16px;
}
.heads-one>span>img{

   margin-right: 5px;
   margin-bottom: 3px;;
}
.head-admin{
    width: 1200px;
   
    margin: auto;
    margin-top: 20px;
   
}
.admin{
    width: 161px;
    height: 500px;
    float: left;
    margin-right: 19px;
    background: #f2f7fd;
}
.manage{
    width: 161px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor:pointer
}
.manage>span{
    /* margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px; */
    margin-left: 10px;
    
    
}
.admin_one{
    width: 1020px;
    height: 700px;
    float: left;
}
.btn{
    font-size: 14px;
    width: 100px;
    height: 20px;
    // font-size: 14px;
    background: #0c9ef1;
    
    // border-radius:0 ;
    // color: #fff;
    // text-align: center;
    // line-height: 20px;
    // margin-right: 15px;
    // margin-left: 10px;
}
.btned{
    background: #0c9ef1;
    border-radius:0 ;
    color: #fff;
    text-align: center;
    width: 100px;
    line-height: 30px;
    margin-top: 130px;
}
.edpass{
   margin-top: 80px;
   margin-left: 100px;
}
.add{
    background: #fff;
}
.add>label{
    background: rgb(8, 235, 216);
    
}
.quanxian_table{
    width: 1020px;
    margin-top: 30px;
    position: relative;
}
.quanxian{
    background: #eee;
}
.quanxian>td{
    border: 1px solid #999;
    text-align: center;

   
}
.quanxian_user>td{
    border: 1px solid #999;
    text-align: center;
}

.ant-checkbox-group-item {
    margin-right: 150px;
    margin-left: 95px;
}
.images{
    display: none;
}
.acton-btn {
    margin-right: 20px;
    background: #40a9ff !important;
    color: #fff;
    border: none;
}