.date-clear-date-settlemen-body {
    width: 100%;
    // border: 1px solid #7596c1;
    padding: 10px;
    .date-clear-date-settlemen-title {
        text-align: right;
        margin: 10px;
        button{
            margin-right: 10px;
        }
    }
    .date-clear-date-settlemen-div {
        border: 1px solid #7596c1;
        padding: 10px;
    }
    .date-clear-date-settlemen-table {
        width: 100%;
        border: 1px solid #7596c1;
        tbody {
            tr {
                td {
                    border: 1px solid #e8e8e8;
                    text-align: center;
                    font-size: 14px;

                    .ant-input {
                        height: 25px;
                        border: none;
                        border-radius: 0;
                        outline: none;
                    }
                }
            }

            .date-clear-date-settlemen-table-blue {
                background-color: #00b0f0;

                .ant-input {
                    background-color: #00b0f0;
                    height: 25px;

                }

            }

            .date-clear-date-settlemen-table-yellow {
                background-color: #ffc000;

                .ant-input {
                    background-color: #ffc000;
                    height: 25px;
                    font-weight: 600;
                }
            }
            .date-clear-date-settlemen-table-purple {
                background-color: #fff;
                .ant-input {
                    background-color: #fff;
                    height: 25px;
                    font-weight: 600;
                }
                td{
                    &:nth-child(7),
                    &:nth-child(11),
                    &:nth-child(15){
                        .ant-input {
                            background-color: purple;
                            height: 25px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .date-clear-date-settlemen-table-none {
                td {
                    &:nth-child(8),
                    &:nth-child(9),
                    &:nth-child(12),
                    &:nth-child(13),
                    &:nth-child(16),
                    &:nth-child(17) {
                        background-color: #00b0f0;

                        .ant-input {
                            background-color: #00b0f0;
                            height: 25px;
                        }
                    }
                    
                    &:nth-child(3) {
                        background-color: #92d050;

                        .ant-input {
                            background-color: #92d050;
                            height: 25px;
                        }
                    }
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(10),
                    &:nth-child(11),
                    &:nth-child(14),
                    &:nth-child(15),
                    &:nth-child(18),
                    &:nth-child(19) {
                        background-color: #ffc000;

                        .ant-input {
                            background-color: #ffc000;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}